<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile Section</title>

    <style media="screen">
      body{
        background: lightblue;
      }
    </style>
  </head>
  <body>
    <h1>Welcome Back To Your Profile Page <%= person %></h1>
    <h2>Personal Information</h2>
    <ul>
      <li>age: <%= info.age %></li>
      <li>career: <%= info.career %></li>
      <li>Strength: <%= info.strength %></li>

      <h2>Interests</h2>
      <% interests.forEach((stuff) => { %>
        <li><%= stuff %></li>
      <%});%>
    </ul>
  </body>
</html>
